@import 'fonts'
@import 'colors'

//Основные стили для всего документа
*
  margin: 0
  padding: 0
  box-sizing: border-box

.title
  font-family: 'Mulish'
  font-size: 2rem
  font-weight: 600
  line-height: 40.16px

//Хедер
.navbar
  width: 100%
  &__list
    display: flex
    justify-content: center
  &__item
    display: flex
    width: 180px
    height: 90px
    text-align: center
    justify-content: center
    align-items: center
  &__link
    display: block
    width: 100%
    height: 100%
    line-height: 90px
    text-decoration: none
    color: $text-color
  &__link:hover
    transform: scale(1.05)

//Третий экран - Наша миссия
.mission
  display: flex
  &__title
    color: $text-color
    font-family: 'Mulish-Bold'
  &__text
    color: $text-color
    font-family: 'Fira Sans'

//Четвертый экран - Преимущества
.advantages
  &__wrapper
    max-width: 1590px
    margin: 0 auto
    color: $text-color
    font-family: 'Fira Sans'
    font-size: 1rem
    font-weight: 400
    line-height: 1.2
  &__box
    display: flex
    flex-wrap: wrap
    gap: 1.25vw
  &__item
    border: 1px solid $accent-color
    border-radius: 20px
    padding: 46px 2.5vw 46px 1.615vw
    flex: 1 1 48%
    display: flex
    align-items: center
    gap: 1.25vw
  &__icon
    max-width: 112px
  &__title
    font-family: 'Mulish'
    font-size: 2rem
    font-weight: 600
    line-height: 1.255
    padding-bottom: 3.229vw
  &__subtitle
    font-size: 1.5rem
    line-height: 1.2
    padding-bottom: 15px

//Пятый экран - Форма обратной связи
.form
  position: relative
  &::before
    background-image: url("/assets/images/img-before.svg")
    content: ""
    width: 100%
    height: 716px
    position: absolute
    left: 0
    top: -46px
    background-size: cover
    background-repeat: no-repeat
    z-index: -1
  &::after
    background-image: url("/assets/images/img-after.svg")
    content: ""
    width: 100%
    height: 716px
    position: absolute
    left: 0
    top: 668px
    background-size: cover
    background-repeat: no-repeat
    z-index: -2
  &__wrapper
    max-width: 1590px
    margin: 0 auto
    padding-top: 506px
    position: relative
  &__title
    font-family: 'Mulish'
    font-size: 2rem
    font-weight: 600
    line-height: 1.255
    padding-bottom: 40px
    color: rgb(255, 255, 255)
    position: relative
  &__user
    display: flex
    flex-wrap: wrap
    gap: 20px
    width: 100%
  &__user-item
    flex: 1 1 48%
  &__consent
    font-family: 'Fira Sans'
    font-size: 1.125rem
    font-weight: 400
    line-height: 1.2
    color: rgb(255, 255, 255)
    padding-top: 6px
    position: relative
  &__contacts
    padding-top: 2.552vw
    position: relative
  &__contacts-text
    font-family: 'Mulish'
    font-size: 2rem
    font-weight: 600
    line-height: 1.255
    color: rgb(255, 255, 255)
    padding-bottom: 1.823vw
  &__contacts-box a
    text-decoration: none
    color: rgb(255, 255, 255)
    font-family: 'Fira Sans'
    font-size: 1.5rem
    font-weight: 400
    line-height: 1.2
    padding-left: 60px
    padding-right: 22px
  &__contacts-box
    width: 271px
    height: 56px
    position: relative
    border-radius: 20px
    background-color: $accent-color
    display: flex
    align-items: center
    justify-content: center
  &__contacts-box:hover
    transform: scale(0.95)
    transition: 0.2s ease-in
  &__contacts-img
    width: 37px
    height: 33.75px
    position: absolute
    left: 23px
    top: 11px
  &__social
    padding-top: 1.823vw
    padding-bottom: 233px
    display: flex
    gap: 1.979vw
  &__social-button
    background-color: $accent-color
    width: 50px
    height: 50px
    border-radius: 25px
    display: flex
    align-items: center
    justify-content: center
  &__social-button:hover
    transform: scale(0.95)
    transition: 0.2s ease-in
  &__social-button a
    display: flex
    justify-content: center
    align-items: center

form
  display: flex
  gap: 21px
  width: 100%
  position: relative

button
  color: rgb(255, 255, 255)
  font-family: 'Fira Sans'
  font-size: 1.5rem
  font-weight: 400
  line-height: 1.2
  border: none
  border-radius: 20px
  background-color: $accent-color
  width: 303px
  height: 70px
  position: relative

form button:hover
  border: 1px solid $accent-color
  background-color: rgb(255, 255, 255)
  color: $accent-color
  transition: 0.2s ease-in

input
  border: none
  border-radius: 20px
  padding: 24px 41px
  width: 100%
  height: 70px
  outline: 0
  position: relative

textarea
  border: none
  border-radius: 20px
  padding: 25px 41px
  width: 100%
  min-height: 142px
  outline: 0
  position: relative
  &::-webkit-resizer
    display: none

::placeholder
  color: $text-color
  font-family: 'Fira Sans'
  font-size: 1.125rem
  line-height: 1.2
  text-align: start
//Карты-адреса
.addresses
  margin-top: 60px
  margin-bottom: 159px

  &__wrapper
    max-width: 1590px
    margin: 0 auto
    position: relative
    font-family: "Fira Sans"

  &__title
    margin-bottom: 62px

  &__buttons
    display: flex
    gap: 24px
    margin-bottom: 62px
    max-width: 918px
    font-family: "Fira Sans"
  &__button
    background-color: #67A13C
    font-size: 1.5rem
    color: white
    border: none
    border-radius: 20px
    max-width: 290px
    padding-top: 15px
    padding-bottom: 15px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: all 0.3s ease
    &:hover
      transform: scale(0.95)

  &__button.active
    background-color: #F47F19

  &__container
    position: relative

  &__maps
    display: flex
    gap: 113px
    opacity: 0
    display: none
    transition: opacity 0.3s ease, visibility 0.3s ease

  &__maps.active
    opacity: 1
    display: flex
  &__map
    max-width: 787px
    max-height: 489px
    overflow: hidden

    iframe
      width: 787px

.carousel-wrapper
  position: relative // Для позиционирования стрелок
  font-family: "Fira Sans"
  display: flex
  justify-content: center

.owl-carousel
  position: relative
  max-width: 620px

  .item
    display: flex
    flex-direction: column // Колонки друг под другом
    max-width: 300px
    gap: 20px
    margin-right: 20px
    &:last-child
      margin-right: 0

  .card
    display: flex
    flex-direction: column
    width: 100%
    justify-content: center
    height: 152px
    border: 1px solid $accent-color
    border-radius: 10px
    padding: 15px
    background-color: white

  .name
    font-size: 1.5rem
    margin-bottom: 20px
    font-family: "Fira Sans"
  .address
    font-size: 1.125rem
    margin-bottom: 15px
    font-family: "Fira Sans"
    span
      font-size: 20px
// Позиционирование стрелок по бокам от карусели
.owl-nav
  position: absolute
  top: calc(50% - 48px)
  width: 100%
  display: flex
  justify-content: space-between
  transform: translateY(-50%)
  .owl-prev, .owl-next
    background-color: $accent-color
    padding: 10px
    border-radius: 50%
    cursor: pointer
    z-index: 10

  .owl-prev
    position: absolute
    left: -55px // Располагаем слева от карусели
    width: 48px

  .owl-next
    position: absolute
    right: -55px // Располагаем справа от карусели
    width: 48px

.lengregion-carousel
  .owl-nav
    opacity: 0

//Медиазапросы
@media screen and (max-width: 1670px)
  .advantages__wrapper
    padding-bottom: 46px

  .addresses__wrapper
    padding-left: 35px
    padding-right: 35px
  .addresses__maps
    justify-content: center

  .addresses__map
    iframe
      max-width: 700px

  .owl-carousel
    width: 580px
    .item
      width: 280px
    .name
      font-size: 1.375rem
      margin-bottom: 10px
    .address
      font-size: 1.125rem
      margin-bottom: 10px

@media screen and (max-width: 1622px)
  .advantages__wrapper
    padding-left: 16px
    padding-right: 16px

  .form
    &__wrapper
      padding-left: 16px
      padding-right: 16px

@media screen and (max-width: 1560px)
  .addresses__maps
    gap: 80px

@media screen and (max-width: 1399px)
  .advantages
    &__item
      flex-direction: column

  .addresses__maps
    gap: 70px
  .addresses__map
    iframe
      width: 550px

  .owl-carousel
    width: 460px
    .item
      width: 220px
      gap: 15px
    .card
      padding: 12px
    .name
      font-size: 1.125rem
      margin-bottom: 8px
    .address
      font-size: 16px

@media screen and (max-width: 1199px)
  .advantages
    &__box
      flex-direction: column
    &__item
      flex-direction: row

  .addresses
    &__title
      margin-bottom: 35px
      padding-left: 10px
    &__title-buttons
      margin-bottom: 40px
      padding-left: 30px
    &__buttons
      gap: 15px
      margin: 0 auto
    &__button
      font-size: 20px
    &__maps
      flex-direction: column
      align-items: center
      gap: 60px
    &__map
      iframe
        width: 787px

  .owl-carousel
    width: 580px
    .item
      width: 280px
    .name
      font-size: 1.375rem
      margin-bottom: 10px
    .address
      font-size: 18px
      margin-bottom: 10px

@media screen and (max-width: 991px)
  form
    flex-direction: column

.addresses
  &__title
    margin-bottom: 35px
    &__buttons
      margin-bottom: 40px

@media screen and (max-width: 767px)
  .advantages
    &__item
      flex-direction: column
      padding: 30px 15px
      gap: 15px

  .form
    &__user
      flex-direction: column
    &__wrapper
      padding-top: 300px
    &::before
      height: 550px
    &::after
      top: 500px
    &__social
      padding-bottom: 100px

  .addresses__title
    margin-bottom: 30px
  .addresses__map
    iframe
      width: 550px

  .owl-carousel
    width: 460px
    .item
      width: 220px
      gap: 15px
    .card
      padding: 12px
      .name
        font-size: 1.125rem
        margin-bottom: 8px
      .address
        font-size: 16px

@media screen and (max-width: 575px)
  button
    width: 100%
  .form
    &__contacts-box
      max-width: 80%
      min-height: fit-content
    &__contacts-img
      display: none
    &__contacts-box a
      padding: 16px

  .addresses__map
    iframe
      width: 390px
  .addresses__buttons
    flex-direction: column

  .carousel-wrapper
    width: 300px
  .owl-carousel
    width: 300px
    .item
      width: 300px

@media screen and (max-width: 400px)
  .addresses__maps
    gap: 30px
  .addresses__map
    iframe
      width: 280px
  .addresses__buttons
    flex-direction: column

  .carousel-wrapper
    width: 220px
  .owl-carousel
    width: 220px
    .item
      width: 220px

//Футер
.footer
  width: 100%
  &__container
    display: flex
    background-color: $primary-color
    justify-content: space-between
    text-align: center
    align-items: center
  &__content
    width: 25%
    line-height: 100px
    color: #FFFFFF
//Первый и второй экран база
$primary-color: #1d3110
$font-hero-title: 700 60px Mulish, sans-serif
$font-hero-description: 400 20px Fira Sans, sans-serif
$font-about-title: 600 32px Mulish, sans-serif
$font-text-content: 400 16px Fira Sans, sans-serif

//Первый и второй экран миксин
@mixin visually-hidden
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

//Первый и второй экран
.hero-section
  z-index: 10
  display: flex
  width: 100%
  flex-direction: column
  color: $primary-color
  justify-content: center
  padding: 1px 0
  min-height: 1039px

.visually-hidden
  @include visually-hidden

.hero-content-wrapper
  display: flex
  flex-direction: column
  position: relative
  min-height: 1038px
  width: 100%
  align-items: start
  justify-content: center
  padding: 406px 80px

.hero-background
  position: absolute
  inset: 0
  height: 100%
  width: 100%
  object-fit: cover
  object-position: center

.hero-text-container
  position: relative
  display: flex
  margin-bottom: -92px
  width: 888px
  max-width: 100%
  flex-direction: column

.hero-title
  font: $font-hero-title

.hero-description
  align-self: start
  margin-top: 50px
  font: $font-hero-description

.about-section
  width: 100%

.about-content
  gap: 20px
  display: flex

.image-column
  display: flex
  flex-direction: column
  line-height: normal
  width: 56%
  margin-left: 0

.about-image
  aspect-ratio: 1.46
  object-fit: contain
  object-position: center
  width: 100%
  border-radius: 0 0 20px 0
  flex-grow: 1

.text-column
  display: flex
  flex-direction: column
  line-height: normal
  width: 44%
  margin-left: 20px

.text-content
  display: flex
  flex-direction: column
  align-self: stretch
  color: $primary-color
  margin: auto 0
  font: $font-text-content

.about-title
  align-self: start
  font: $font-about-title

.about-description
  margin-top: 62px

.additional-info
  margin-top: 28px

// Медиазапросы
@media (max-width: 991px)
  .hero-section,
  .about-section
    max-width: 100%

  .hero-content-wrapper
    max-width: 100%
    padding: 100px 20px

  .hero-text-container
    margin-bottom: 10px

  .hero-title
    max-width: 100%
    font-size: 40px

  .hero-description
    max-width: 100%
    margin-top: 40px

  .about-content
    flex-direction: column
    align-items: stretch
    gap: 0

  .image-column,
  .text-column,
  .about-image,
  .text-content,
  .about-description,
  .additional-info
    width: 100%
    max-width: 100%
    margin-top: 40px
