@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/fira_sens/FiraSans-Regular.eot") format("eot");
  src: url("/assets/fonts/fira_sens/FiraSans-Regular.woff2") format("woff2");
  src: url("/assets/fonts/fira_sens/FiraSans-Regular.woff") format("woff");
  src: url("/assets/fonts/fira_sens/FiraSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish-Bold";
  src: url("/assets/fonts/mulish/Mulish-Bold.eot") format("eot");
  src: url("/assets/fonts/mulish/Mulish-Bold.woff2") format("woff2");
  src: url("/assets/fonts/mulish/Mulish-Bold.woff") format("woff");
  src: url("/assets/fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-SemiBold.eot") format("eot");
  src: url("/assets/fonts/mulish/Mulish-SemiBold.woff2") format("woff2");
  src: url("/assets/fonts/mulish/Mulish-SemiBold.woff") format("woff");
  src: url("/assets/fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}